/build/
/cmake-build-debug/
/unifi_latex_overleaf/
/PC_course_project_template.pdf
/unifi_latex_overleaf/assets/
/unifi_latex_overleaf/assets/background.png
/unifi_latex_overleaf/assets/background.xcf
/unifi_latex_overleaf/assets/background_alternative.jpg
/unifi_latex_overleaf/assets/background_negative.png
/unifi_latex_overleaf/assets/background_negative.xcf
/unifi_latex_overleaf/assets/logo_RGB.png
/unifi_latex_overleaf/assets/logo_RGB.xcf
/unifi_latex_overleaf/assets/logo_RGB_negative.png
/unifi_latex_overleaf/assets/logo_RGB_negative.xcf
/unifi_latex_overleaf/beamerunifi.tex
/unifi_latex_overleaf/beamerthemesintef.sty
/unifi_latex_overleaf/LICENSE
/unifi_latex_overleaf/sintefcolor.sty
/benchmark_results/
/beamerthemesintef.sty

/sintefcolor.sty
/assets/
/unifi_latex_overleaf/assets/
